<div class="row">
  <div class="col-md-3">
    <div class="p-4 mt-4 bg-light">
      <h4>Add Route Form</h4>
      <div class="form-group">
        <label class="d-block m-0" for="route_name">Route Name</label>
        <input type="text" name="route_name" placeholder="Route name" required/>
      </div>
      <button id="add-route-btn" type="button" class="btn btn-primary">Add</button>
    </div>
  </div>
  <div class="col-md-8">
    <h4>All Routes</h4>
    <div id="route-list" class="list-group">
    </div>
  </div>
</div>